<% if loggedIn? %>
  <%= link_to "新規作成", new_article_path, class: "button" %>
<% end %>
<% @articles.each do |article| %>
  <%= link_to article_path(article), class: "article_link" do %>
    <article class="article">
      <%= article.created_at.strftime "%Y/%m/%d" %><br>
      <h3 class="article_list_title"><%= article.title %></h3>
      <%= nl2br(translateImageTag article.text) %>
    </article>
  <% end %>
<% end %>
<%= link_to '戻る', '/' %>
<% if loggedIn? %>
  <%= link_to 'hatenablog連携', '/hatena' %>
<% end %>
