<div>
  <h1><%= @article.title %></h1>
  <h6 class="date-time"><%= @article.created_at.in_time_zone("Tokyo") %></h6>
</div>

<% if loggedIn? %>
  <%= link_to '編集', edit_article_path(@article) %>
  <%= link_to '削除', article_path(@article),
    method: :delete,
    data: { confirm: '本当によろしいですか？' } %>
<% end %>

<div class="blog-post">
  <%= nl2br @article.text %>
</div>

<h2>コメント</h2>
<% if @article.comments.length != 0 %>
  <%= render @article.comments %>
<% else %>
  コメントはありません。
<% end %>

<h2>コメントを書き込む</h2>
<div class="article-comment">
  <%= render 'comments/form' %>
</div>

<%= link_to '戻る', articles_path %>
