<h1>This is newnakashima's website.</h1>
<ul>
  <li><%= link_to 'hatenablog', 'http://newnakashima.hatenablog.com' %></li>
  <li><%= link_to 'twitter', 'https://twitter.com/newnakashima' %></li>
  <li><%= link_to 'Blog', controller: 'articles' %></li>
  <li><%= link_to 'About', controller: 'about' %></li>
</ul>
<%= render 'page' %>
