<header>
  <h2>
    <%= link_to "newnakashimaweb", root_path, class: "webtitle" %>
  </h2>
  <nav>
    <ul>
      <li><%= link_to 'Top', root_path %></li>
      <li><%= link_to 'hatenablog', 'http://newnakashima.hatenablog.com' %></li>
      <li><%= link_to 'twitter', 'https://twitter.com/newnakashima' %></li>
      <li><%= link_to 'Blog', controller: 'articles' %></li>
      <li><%= link_to 'About', controller: 'about' %></li>
    </ul>
  </nav>
</header>
